body{
  height: auto;
  width: 100%;
  min-height: 100vh;
}

.App,#root{
  font-size: 1em;
  height:auto;
  min-height:100%;
  text-align: center;
  line-height: 1.8em;
}
.App h1{
  color:rgb(68, 61, 61);
  font-weight: bold;
  padding: 0.5em;
  font-size: 4em;
  text-decoration: underline;
}

label{
  font-size: 2.3em;
  margin: 0.5em auto;
  color:rgb(68, 61, 61);
}
form{
  padding-bottom: 1em;
  padding-top: 1em;
  justify-items: flex-start;
  width: 70%;
  margin: 0.5em auto;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}


textarea{
  background-color:rgb(68, 61, 61, 0.8);
  height: 10em;
  overflow-y: scroll;
  text-align: start;
  width: 100%;
  border-radius: 3%;
  border: solid 1px rgb(68, 61, 61);
  margin: auto;
  color: seashell;
}
::placeholder{
  color: seashell;
}

button{
  border: solid 1px rgb(68, 61, 61);
  background-color:#eee;
  width: 30%;
  align-self: flex-end;
  cursor: pointer;
  border-radius: 3%;
  height: 50px;
}
button:hover{
  background-color: rgb(68, 61, 61, 0.8);
  color: seashell;
  transition: 0.8s ease;
}

#returnedStats{
  opacity: 0;
}

.flaskResponse{
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  font-size: 1.3em;
}

.stats{
  height: auto;
  font-weight: 500;
  margin-bottom: 2em;
}

#dictionary{
  margin: 2em auto 0  auto;
  color: seashell;
  background-color:rgb(68, 61, 61, 0.8);
  width: 100%;
  border: solid 1px black;
  padding: 2em 0;
  border-radius: 3%;
  opacity: 0;
}

#dictionary li{
  color: white;
  border-bottom: solid 1.5px seashell;
}

li{
  width: 80%;
  list-style-type: none;
  font-size: 1.3em;
  line-height: 2em;
  border-bottom: solid 1px rgb(68, 61, 61);
  margin: auto 0 auto 2em;
  text-align: start;
}
@media screen and (min-width: 1100px){
  form, .flaskResponse{
    width:40%;
  }
}