
.App,#root{
  background-color: chocolate;
  font-size: 1em;
  height:auto;
  min-height:100%;
  text-align: center;
  line-height: 1.8em;
}
.App h1{
  color:whitesmoke;
  font-weight: bold;
  padding: 0.5em;
  font-size: 4em;
  text-decoration: underline;
}

label{
  font-size: 2.3em;
  margin: auto;
  display: flex;
  flex-direction: column;
  color:rgb(68, 61, 61);
}
form{
  padding-bottom: 1em;
  padding-top: 1em;
  justify-items: flex-start;
}

input{
  background-color:#C0C0C0;
  height: auto;
  min-height: 2.5em;
  overflow: scroll;
  font-size: 1em;
  text-align: start;
  max-width: 70%;
}

#result{
  height: auto;
  font-weight: 600;
}

li{
  width: 50%;
  list-style-type: none;
  font-size: 1.3em;
  line-height: 2em;
  border-bottom: solid 1px black;
  margin: auto;
  text-align: start;
}